.gradient-custom {
    /* fallback for old browsers */
    background: green;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(0, 128, 0, 1), rgba(0, 100, 0, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(0, 128, 0, 1), rgba(0, 100, 0, 1))
}

.d-flexjustify-content-start i {
    padding: 0 10%;
}

.vh-100 {
    width: 100%;
}

body {
    align-items: center;
}






#profile-content {
    /* Card container */
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 95%;
    margin: 20px auto;

}



#profile-content p {
    padding: 2%;
    font: 1.2em bold;
}





#profile-content img {


    border-radius: 50%;
}

.phone {
    display: inline-block;
    margin-right: 36px;
    line-height: 50px;
    letter-spacing: 2px;

    font-weight: 600;
    color: #FFFFFF;
}





#profile-content {
    /* Card container */
    background: #fff;
    /* changed to white background */
    border: none;
    /* removed border */
    border-radius: 20px;
    /* increased border radius */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    /* increased box shadow */
    padding: 30px;
    /* increased padding */
    margin-bottom: 30px;
    /* increased margin bottom */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    /* increased height */
    width: 97%;
    /* increased width */
    margin: 2% auto;
    /* increased margin */

    /* Add a gradient background */
    background: linear-gradient(to right bottom, rgba(0, 128, 0, 1), rgba(0, 100, 0, 1));


    /* Add a hover effect */
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    }
}

#profile-content img {
    width: 10%;
    /* set image width */
    height: 12vh;
    /* set image height */
    border-radius: 50%;
    /* keep image rounded */
    margin: 10px;
    /* add margin to image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* add box shadow to image */
}

#profile-content p {
    font-size: 1.2em;
    /* increase font size */
    color: white;
    /* change text color */
    margin-bottom: 10px;
    /* add margin bottom to paragraph */
}

/* Add this to your CSS file */

.payment_button {
    background-color: #4CAF50;
    /* Green background */
    color: #ffffff;
    /* White text */
    border: none;
    padding: 5px 10px;
    /* Reduced padding */
    font-size: 14px;
    /* Reduced font size */
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.payment_button:hover {
    background-color: #3e8e41;
    /* Darker green on hover */
}

.payment_button svg {
    width: 18px;
    /* Reduced icon size */
    height: 18px;
    /* Reduced icon size */
    margin-right: 5px;
    /* Reduced margin */
    vertical-align: middle;
}

.payment_button span {
    vertical-align: middle;
}













































.titlepages {
    width: 12vw;
    margin: 5% auto;
    text-align: center;
    display: flex;
    /* make it a flex container */
    justify-content: center;
    /* center the content vertically */
    align-items: center;
    /* center the content horizontally */
}

.titlepages {
    display: grid;
    place-items: center;
    /* center the content both horizontally and vertically */
    width: 12vw;
    height: 7vh;
}














.col-12.bg-white.px-3.mb-3.pb-3 {
    background-color: #ffffff;
    /* white background */
    padding: 3px;
    /* horizontal padding */
    margin-bottom: 3px;
    /* bottom margin */
    padding-bottom: 3px;
    /* bottom padding */
    border-radius: 10px;
    /* rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* subtle shadow */
}

.d-flex {
    margin-bottom: 20px;
    /* spacing between form rows */
}

.d-flex:last-child {
    margin-bottom: 0;
    /* no margin for the last row */
}

.py-2 {
    padding-top: 10px;
    /* vertical padding for labels */
    padding-bottom: 10px;
}

.form-control {
    width: 70%;
    /* input field width */
    height: 40px;
    /* input field height */
    padding: 10px;
    /* input field padding */
    border: 1px solid #ccc;
    /* input field border */
    border-radius: 5px;
    /* input field rounded corners */
}

.form-control:focus {
    border-color: #aaa;
    /* input field focus border color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* input field focus shadow */
}

.border-bottom {
    border-bottom: 1px solid #ccc;
    /* bottom border for form rows */
}

.btn.btn-primary.follow {
    background-color: darkgreen;
    /* primary button color */
    color: #ffffff;
    /* primary button text color */
    padding: 10px 20px;
    /* primary button padding */
    border: none;
    /* no border for primary button */
    border-radius: 5px;
    /* primary button rounded corners */
    cursor: pointer;
    /* primary button cursor */
}

.btn.btn-primary.follow:hover {
    background-color: darkgreen;
    /* primary button hover color */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



body {
    background-color: #e2e8f0;
}

#editProfile .breadcrumb {
    background-color: #c5cee4;

}

#editProfile .breadcrumb a {
    text-decoration: none;
    color: white;
}

#editProfile {
    max-width: 80%;
    padding: 0;
    margin-bottom: 10%;
}

#editProfile p {
    margin: 0;
}

#editProfile .d-flex a {
    text-decoration: none;
    color: #686868;
}

#editProfile img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    object-fit: cover;

}

#editProfile .fab.fa-twitter {
    color: #8ab7f1;
}

#editProfile .fab.fa-instagram {
    color: #E1306C;
}

#editProfile .fab.fa-facebook-f {
    color: #5999ec;
}

#editProfile input {
    width: 50%;
}

#editProfile h6 {
    color: #686868;
}

.table-custom {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

#editProfile input {
    padding-top: 0 !important;
    margin: 0 !important;

}

.table-custom thead th {
    background-color: #f7f7f7;
    border-bottom: none;
    padding: 1rem;
    text-align: center;
    width: 15%;
}

.table-custom tbody tr {
    border-bottom: 1px solid #ddd;
}

.table-custom tbody tr:last-child {
    border-bottom: none;
}

.table-custom tbody td {
    padding: 1rem;
    text-align: center;
    width: 15%;
    text-align: center;
    text-justify: auto;
}

.table-custom tbody td:first-child {
    border-left: none;
}

.table-custom tbody td:last-child {
    border-right: none;
}

.table-custom tbody td img {
    width: 100%;
}





.col-12.bg-white.px-3.mb-3.pb-3 {
    background-color: #ffffff;
    padding: 3px;
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.d-flex {
    margin-bottom: 20px;
}

.d-flex:last-child {
    margin-bottom: 0;
}

.py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control {
    width: 70%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.btn.btn-primary.follow {
    background-color: green;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.btn-primary.follow:hover {
    background-color: darkgreen;
}

.file-input {
    position: relative;
    display: inline-block;
}

.file-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-input label {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    cursor: pointer;
}

.file-input label i {
    font-size: 18px;
    margin-right: 10px;
}

.file-input label span {
    font-size: 14px;
    color: #666;
}

.file-input label:hover {
    background-color: #eee;
}


#profile_icon {

    display: inline-block;
    font-size: 10px;
    line-height: 36px;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
}


#profile_icon:hover {
    color: green;
    text-decoration: none;
    /* -webkit-font-smoothing: antialiased; */
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;

}


.titlepages {
    display: grid;
    place-items: center;
    width: 20vw !important;
    height: 7vh;
}

strong {
    z-index: 2;
    font-family: 'Poppins'sans-serif;
    font-size: large !important;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-shadow: 0 0 4px rgb(0, 0, 0);
}